nav {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

nav button {
    text-transform: uppercase;
    color: white;
    background-color: #37495d;
    border: 1px #37495d solid;
    padding: 10px;
    width: 150px;
    height: 50px;
}

nav button:first-child {
    border-radius: 15px 0 0 15px;
}

nav button:last-child {
    border-radius: 0 15px 15px 0;
}

nav button:hover {
    background-color: #eb4c39;
    cursor: pointer;
}